<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Quill stylesheet -->
    <link href="lib/quill/quill.snow.css" rel="stylesheet">
    <link href="lib/quill/quill.bubble.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/styles/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles/app.css" />
    <link rel="stylesheet" href="TestAssignmentWebApp.styles.css" />
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <HeadOutlet />
</head>

<body>
<Routes />

<script src="_framework/blazor.web.js"></script>

<!-- Quill library -->
    <script src="lib/quill/quill.js"></script>
    <script src="assets/js/quill-blot-formatter.min.js"></script>
    <script src="assets/js/BlazorQuill.js"></script>
</body>

</html>
